@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary: hsl(358, 85%, 8%);
  --gradient-atlantic: linear-gradient(90.41deg, #FFFFFF 0%, hsl(0, 81%, 58%) 0%, hsl(8, 87%, 63%) 0.01%, hsl(16, 96%, 70%) 100%);
  --secondary: #986e6e;
  --white: rgb(255, 255, 255);
  --white-2: rgba(255, 255, 255, 0.8);
  --gum: #E666B3;
  --primary-btn: linear-gradient(180deg, hsl(16, 100%, 45%) 0%, hsl(16, 97%, 40%) 100%);
  --red-btn: linear-gradient(180deg, hsl(347, 100%, 67%) 0%, hsl(347, 97%, 60%) 100%);
  --super-shadow: 0px 100px 126px rgba(0, 0, 0, 0.15), 0px 41.7776px 52.6398px rgba(0, 0, 0, 0.107828), 0px 22.3363px 28.1437px rgba(0, 0, 0, 0.0894161), 0px 12.5216px 15.7772px rgba(0, 0, 0, 0.075), 0px 6.6501px 8.37913px rgba(0, 0, 0, 0.0605839), 0px 2.76726px 3.48674px rgba(0, 0, 0, 0.0421718);
  --blueberry: hsl(33, 92%, 47%);
  --blueberry-fade: rgba(10, 164, 231, 0.3);
  --card: #5b3e3e;
  --mint: #3EEBBE;
  --banana: #EEA02B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter;
}

body {
  background-color: var(--primary) !important;
  min-height: 100vh;
  line-height: 1.5;
}

p, label, input, button {
  color: var(--white-2);
  font-size: 16px;
}

.blueberry {
  color: var(--blueberry);
}

.gum {
  color: var(--gum);
}

.mint {
  color: var(--mint);
}

@media (min-width: 768px) {
  p, label, input, button {
    font-size: 18px;
  }
}